/*menu*/
@media (max-width : 720px)
{
	.menu .menu_content 
	{
	  width: 100%;
	}
}


/* SLIDER */

@media (max-width : 720px)
{	
	.style_opening_image
	{
		padding-top:60px;
		width:800px;
	}
	
	.style_opening
	{
		padding-top:110px;
		color:black;
		font-weight:bold;
		font-size:35px;
		letter-spacing:1px;
	}
	
	.style_opening_tanggal
	{
		padding-top:155px;
		color:black;
		font-size:24px;
		font-family: 'Roboto', sans-serif;
		letter-spacing:1px;
		
	}
	
	.primary-footer h4 {
	font-size: 21px;
    margin-bottom: 3px;
	margin-top: 5px;
	}
	
	.primary-footer h4 span 
	{
	font-family: 'Playfair Display', serif;
	margin: 0 0px;
	}
	
	.oct-class
	{
		font-size: 17px;
	}
	
	.psd-temp-class
	{
		font-size:14px;
	}
	
	.right-footer
	{
		width:100%;
	}
	
}

/*ORIENTASI LENSCAPE*/
@media (orientation: landscape) and (min-width: 1024px) 
{
	/* MENU */
	.js .nav-collapse 
	{
		position: relative;
	}
	.js .nav-collapse.closed {
		max-height: none;
	}
	.nav-toggle {
		display: none;
	}
}

@media (orientation: landscape) and (min-width: 640px) and (max-width: 730px) 
{
	.style_opening_image
	{
		margin-top:-100px;
		width:400px;
	}
	
	.style_opening
	{
		margin-top:-135px;
		color:black;
		font-weight:bold;
		font-size:35px;
		letter-spacing:1px;
	}
	.style_opening_tanggal
	{
		margin-top:-160px;
		color:black;
		font-size:24px;
		font-family: 'Roboto', sans-serif;
		letter-spacing:1px;
		
	}
	
	.vertical_line
	{
		height: 50px; 
	}

	.number
	{
		font-size:38px;
	}
	
	.number span
	{
		font-size:12px;
	}
	
}
@media (orientation: landscape) and (min-width: 731px) and (max-width: 812px) 
{
	.style_opening_image
	{
		margin-top:-50px;
		width:300px;
	}
	
	.style_opening
	{
		margin-top:-35px;
		color:black;
		font-weight:bold;
		font-size:35px;
		letter-spacing:1px;
	}
	.style_opening_tanggal
	{
		margin-top:-20px;
		color:black;
		font-size:24px;
		font-family: 'Roboto', sans-serif;
		letter-spacing:1px;
		
	}
	
	.vertical_line
	{
		height: 50px; 
	}
	
	.number
	{
		font-size:38px;
	}
	
	.number span
	{
		font-size:12px;
	}
	
}

@media (orientation: landscape) and (min-width: 812px) and (max-width: 825px) 
{
	.story_begin
	{
		float:left;
		height:40px;
		width:40px;
		z-index:1;
		margin-left:5%;
	}
	.story_end
	{
		margin-top:-35px;
		float:left;
		height:40px;
		width:40px;
		z-index:1;
		margin-left:5%;
	}
}



/*content*/
@media (max-width : 812px)
{
	.content .container
	{
		width:100%;
	
	}
	
	.happy_couple .line
	{
		width:300px;
		padding-bottom:15px;
	}
	
	.image_cpp_cpw
	{
		width:100%;
	}
	.cycle_love
	{
		display:none;
	}
	
	.cpw
	{
		padding-left:2%;
		padding-right:2%;
		margin-top:0px;
		width:100%;
	}
	
	.cpp
	{
		padding-left:2%;
		padding-right:2%;
		margin-top:0px;
		width:100%;
	}
	
	.cpw_name
	{
		width:94%;
		text-align:left;
		padding-top:30px;
		padding-left:3%;
		padding-right:3%;
		color:#e08e79;
		font-weight:400;
		font-family: 'Roboto Slab', serif;
		font-size:30px;
	}
	
	.cpp_name
	{
		width:94%;
		text-align:left;
		padding-top:30px;
		padding-left:3%;
		padding-right:3%;
		color:#e08e79;
		font-weight:400;
		font-family: 'Roboto Slab', serif;
		font-size:30px;
	}
	
	
	.cpw_name_detail
	{
		width:94%;
		text-align:left;
		padding-left:3%;
		padding-right:3%;
		padding-top:34px;
		color:#9b9a8b;
		font-family: 'Roboto Slab', serif;
		line-height:20px;
		letter-spacing:0.5px;
		font-weight:500;
	}
	
	.cpp_name_detail
	{
		width:94%;
		text-align:left;
		padding-left:3%;
		padding-right:3%;
		padding-top:34px;
		color:#9b9a8b;
		font-family: 'Roboto Slab', serif;
		line-height:20px;
		letter-spacing:0.5px;
		font-weight:500;
	}
	
	.sepeda
	{
		width:100%;
		padding-bottom:30px;
	}
	
	.kata_mutiara
	{
		font-size: 20px;
	}
	
	.vertical_line
	{
		height: 50px; 
	}
	
	.number
	{
		font-size:36px;
	}
	
	.number span
	{
		font-size:10px;
	}
	.story_begin
	{
		float:left;
		height:40px;
		width:40px;
		z-index:1;
		margin-left:5%;
	}
	.story_end
	{
		margin-top:-35px;
		float:left;
		height:40px;
		width:40px;
		z-index:1;
		margin-left:5%;
	}
	
	.content .event_content
	{
		min-width:0px;
		max-width:0px;
		width:100%;
		margin:0px;
		padding:0px;
	}
	
	.image_event1
	{
		background-color:red;
		width:100%;
	}
}

@media (max-width : 812px) AND (orientation: portrait)
{
	.happy_couple
	{
		text-align:center;
		width:300px;
	}
	
	.vertical_line
	{
		display:none;
	}	
	
	.number
	{
		width:100%;
		text-align:center;
		display:block;
	}
	
	.number span
	{
		text-align:center;
		display:block;
		font-family: 'Roboto', sans-serif;
		color:#e08e79;
		font-size:18px;
	}
}

@media (min-width : 1024px) AND (max-width : 1365px) AND (orientation: landscape)
{
	.story_begin
	{
		float:left;
		height:40px;
		width:40px;
		z-index:1;
		margin-left:5%;
	}
	.story_end
	{
		margin-top:-35px;
		float:left;
		height:40px;
		width:40px;
		z-index:1;
		margin-left:5%;
	}
}


@media (min-width : 1024px) AND (orientation: portrait)
{
	.story_begin
	{
		float:left;
		height:40px;
		width:40px;
		z-index:1;
		margin-left:5%;
	}
	
	.story_end
	{
		margin-top:-35px;
		float:left;
		height:40px;
		width:40px;
		z-index:1;
		margin-left:5%;
	}
}
